<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Overwatch League Rankings</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/grayscale.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="text-black navbar-brand js-scroll-trigger" href="#page-top">Overwatch League Rankings</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="text-black nav-link js-scroll-trigger" href="#about">League Teams</a>
            </li>
            <li class="nav-item">
              <a class="text-black nav-link js-scroll-trigger" href="#projects">Top 3</a>
            </li>
            <li class="nav-item">
              <a class="text-black nav-link js-scroll-trigger" href="#signup">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="text-white mx-auto my-0 text-uppercase">Overwatch League Rankings</h1>
          <h2 class="text-white mx-auto mt-2 mb-5">A free ranking site created by Mateo Carlson</h2>
          <h2 class="text-white mx-auto mt-2 mb-5">Support Me: twitch.tv/Matillion_Gaming</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">What is Overwatch League?</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg mx-med">
            <h2 class="text-white mb-4">Overwatch League Teams:</h2>
            <p class="text-white">You can go to the Overwatch league's site here:
              <a href="https://overwatchleague.com/en-us/" target="_new">the official page</a>. The Overwatch League is the major Esports organization sponsored and run by Blizzard themselves. The League currently hosts twenty teams from nineteen different cities.
        </div>
        <img src="../static/img/LeagueTeams.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-7 col-lg-6">
            <img class="img-fluid mb-3 mb-lg-0" src="../static/img/LAG.png" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>#1   Los Angeles Gladiators</h4>
              <p class="text-black mb-0">Damage:</p>
              <p class="text-black mb-0">Surefour, Hydration, Decay</p>
              <p class="text-black mb-0">Tank:</p>
              <p class="text-black mb-0">Bischu, Void, Roar, Panker</p>
              <p class="text-black mb-0">Support:</p>
              <p class="text-black mb-0">Biggoose, Shaz, Ripa</p>
              <br>
              <a href = "https://overwatchleague.com/en-us/teams/4406" target="_new"><button id = "Gladiators-Btn" class = "btn btn-primary" onclick ="https://overwatchleague.com/en-us/" class="my-2 col-sm-4"> Team Details </button></a>
            </div>
          </div>
        </div>

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-7 col-lg-6">
            <img class="img-fluid mb-3 mb-lg-0" src="../static/img/LA_Valiant.png" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>#2   Los Angeles Valiant</h4>
              <p class="text-black mb-0">Damage:</p>
              <p class="text-black mb-0">Agilities, Kariv, Bunny, Ksf</p>
              <p class="text-black mb-0">Tank:</p>
              <p class="text-black mb-0">Fate, Space, Kuki</p>
              <p class="text-black mb-0">Support:</p>
              <p class="text-black mb-0">Custa, Izayaki</p>
              <br>
              <a href = "https://overwatchleague.com/en-us/teams/4405" target="_new"><button id = "Valiant-Btn" class = "btn btn-primary" onclick ="getDataFromApi()" class="my-2 col-sm-4"> Team Details </button></a>
            </div>
          </div>
        </div>

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-7 col-lg-6">
            <img class="img-fluid mb-3 mb-lg-0" src="../static/img/NY_Excelsior.png" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>#3 New York Excelsior</h4>
              <p class="text-black mb-0">Damage:</p>
              <p class="text-black mb-0">Saebyeolbe, Pine, Libero, Flow3r, Nenne</p>
              <p class="text-black mb-0">Tank:</p>
              <p class="text-black mb-0">Mano and Meko</p>
              <p class="text-black mb-0">Support:</p>
              <p class="text-black mb-0">Ark, Jjonak, Anamo</p>
              <br>
              <a href = "https://overwatchleague.com/en-us/teams/4403" target="_new"><button id = "Excelsior-Btn" class = "btn btn-primary" onclick ="getDataFromApi()" class="my-2 col-sm-4"> Team Details </button></a>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Give me feedback!</h2>

            <form class="form-inline d-flex" action="{{ url_for('process_inputs') }}" method="post">
              <input type="name" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-10" id="inputFirstName" name="inputFirstName" placeholder="Enter name..." required>
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-10" id="inputEmail" name="inputEmail" placeholder="Enter email..." required>
              <input type="phoneNumber" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-10" id="inputPhoneNumber" name="inputPhoneNumber" placeholder="Enter phone..." required>
              <input type="message" class="form-control flex-fill mr-0 mr-sm-2 mb-5 mb-sm-0" id="inputMessage" name="inputMessage" placeholder="Enter your feedback..." required>
              <button type="submit" class="btn btn-primary mx-auto">Contact Me!</button>
            </form>

          </div>
        </div>

        <h3 class="text-black mb-5 mt-5" align="center">.</h3>
        <h3 class="text-black mb-5 mt-5" align="center">.</h3>
        <p class="marginTop100 text-white"><h3 class="marginTop100 text-white mb-5" align="center">Why does this site exist?</h3></p>
        <p class="text-white mb-4" align="center">I am part of a program called Code2College where high school students learn real world skills and programming languages. At the end of the course, students who qualify get an interview with a local tech company and a chance at a paid internship, further integrating the real life skilles learned in the program. In order to graduate, students are required to finish a "capstone project", which in my case is this website.</p>
        <p class="text-white" align="center"><a href="https://code2college.org/" class="mx-2" target="_new">Find out more about the Code2College program by clicking here</a></p>

      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Where can you find me?</h4>
                <hr class="my-4">
                <div class="small text-black">twitch.tv/Matillion_Gaming</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black">
                  <a href="#">mateo.carlson1016@gmail.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black">+1 (512) 919-9676</div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="https://twitter.com/matillion1" class="mx-2" target="_new">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://github.com/MateoCarlson" class="mx-2" target="_new">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; mateocarlson.pythonanywhere.com 2018
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/grayscale.js"></script>

  </body>

</html>
